* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-white: #fff;
    --bg-gray: #666;
    --bg-dark: #191c25;
    --bg-very-dark: #0a0c12;
    --bg-light: #f4f4f4;
    --bg-light-2: #f8f8f8;
    --text-dark: #121212;
    --text-light: #f4f4f4;
    --text-gray: #666;
    --text-muted: #ddd;
    --text-highlight-blue: #42b7b9;
    --border-color: #888;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1280px;
}

.opaque-bg {
    background: rgba(0, 0, 0, 0.2) !important;
    transition: all 0.35s ease-out;
    backdrop-filter: blur(4px);
}

body {
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: var(--bg-very-dark);
    color: var(--text-dark);
    position: relative;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--text-light);
}

a:hover {
    text-decoration: underline;
    color: var(--text-highlight-blue);
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
    color: var(--text-light);
}

p,
small,
a,
ul,
li,
span,
b,
i,
input {
    font-family: "Figtree", sans-serif;
    color: var(--text-muted);
}

input {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 300;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    outline: none;
}

input::placeholder {
    color: var(--text-muted);
}

input:focus-within {
    border-color: var(--text-highlight-blue);
}

button,
.btn {
    width: max-content;
    font-family: inherit;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
    background: transparent;
    transition: all 0.3s;

}

.btn {
    border: 1px solid var(--border-color);
    border-radius: 50px;
}

button:hover,
.btn:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
}

button:active,
.btn:active {
    transform: translateY(0);
    scale: 0.98;
}

.btn.btn-primary {
    color: var(--text-light);
    background: var(--text-highlight-blue);
    border: 1px solid var(--text-highlight-blue);
}

.btn.btn-primary:hover {
    background: transparent;
    color: var(--text-highlight-blue);
}

.in-view {
    color: var(--text-highlight-blue) !important;
}


body #hero-bg {
    width: 100%;
    background: url("./resources/images/hero-bg1.jpg") no-repeat center center/cover;
    background-attachment: fixed;
    background-color: var(--bg-gray);
    background-blend-mode: overlay;
    position: relative;
    transition: all 0.35s ease-out;
    min-height: 100dvh;
}

#hero-bg::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 120px;
    background: inherit;
    /* Match the background of the previous section */
    background-blend-mode: inherit;
    clip-path: ellipse(50% 70% at 50% -0%);

}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    margin-bottom: 16px;
}

header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5px;
    background: var(--border-color);
    z-index: 1;
}

#header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 80px;
}

#header-wrapper .logo {
    text-transform: uppercase;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: 700;
    color: var(--text-light);
}

#header-wrapper .logo:hover {
    text-decoration: none;
}

#header-wrapper nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 1.6rem; */
    flex-basis: 60%;
    height: 100%;
}

#header-wrapper nav .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 100%;
}

#header-wrapper nav .navigation li {
    font-size: 1rem;
    font-weight: 700;
    padding: 0 1rem;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#header-wrapper nav .navigation li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 0;
    height: 1.5px;
    background: var(--text-highlight-blue);
    transition: width 0.3s;
}

#header-wrapper nav .navigation li a {
    color: var(--text-light);
    text-decoration: none;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    font-weight: 400;

}

#header-wrapper nav .navigation li a:hover {
    color: var(--text-highlight-blue);
}

#header-wrapper nav .navigation li:has(a:hover)::after {
    width: 100%;
}

#header-wrapper nav .navigation li:has(a.in-view)::after {
    width: 100%;
}

#header-wrapper nav .menu-toggle {
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text-light);
}

#header-wrapper nav .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-width: max-content;
    width: max(50%, 250px);
    height: 100dvh;
    background: var(--bg-very-dark);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
    color: var(--text-light);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: min(40px, 10%) max(20px, 3%);
}

.menu .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.menu .menu-header .logo h2 {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    font-weight: 700;
}

.menu .menu-header .close {
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    cursor: pointer;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu ul li {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu ul li a {
    width: 100%;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-weight: 500;
    color: var(--text-light);
    padding: 16px 6px;
    text-decoration: none;
    position: relative;
}

.menu ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1.4px;
    background: var(--text-highlight-blue);
    opacity: 0;
    transition: opacity 0.3s;
}

.menu ul li a:hover {
    color: var(--text-highlight-blue);
}

.menu ul li a.in-view::after {
    opacity: 1;
}

.menu ul li a:hover::after {
    opacity: 1;
}

.fade-in {
    animation: fadeIn 0.3s ease forwards;
}

.fade-out {
    animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.slide-in-from-left {
    animation: slideInFromLeft 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
}

.slide-out-to-left {
    animation: slideOutToLeft 0.6s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-120%);
        opacity: 0;
        display: none;
    }

    60% {
        transform: translateX(10%);
        opacity: 1;
    }

    to {
        transform: translateX(0);
        display: block;
    }
}

@keyframes slideOutToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
        display: block;
    }

    40% {
        transform: translateX(10%);
    }

    to {
        transform: translateX(-120%);
        opacity: 0;
        display: none;
    }
}


#home {
    width: 100%;
    min-height: 100dvh;
}


#home .hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px 5% 50px 5%;
}

.hero-content h1 {
    text-transform: uppercase;
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 600;
    color: var(--text-light);
    margin-top: 100px;
    margin-bottom: 16px;
}

.hero-content p {
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 300;
    color: var(--text-muted);
    margin-bottom: 40px;
}

.hero-content .cta-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cta-btn {
    padding: 14px 24px;
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    font-weight: 400;
    color: var(--text-light);
    background: transparent;
    border: 1px solid var(--border-color);
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-decoration: none !important;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.cta-btn::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
    transition: width 0.2s, height 0.2s;
    border-radius: 50%;
}

.cta-btn:hover::before {
    width: 200%;
    height: 200%;
}

.cta-btn:hover {
    border-color: var(--text-highlight-blue);
}


.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: transparent;
    color: var(--text-light);
    position: relative;
    padding-bottom: 40px;
}

.features .feature-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    width: 100%;
    /* margin-top: 40px; */
}

.feature-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: var(--bg-very-dark);
    padding: 60px 40px;
    border-radius: 2px;
    border: 1px solid var(--text-highlight-blue);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.feature-card i {
    font-size: clamp(2rem, 5vw, 3rem);
    color: var(--text-highlight-blue);
    margin-bottom: 16px;
    transition: transform 0.3s;
}

.feature-card i:hover {
    transform: translateY(-5px);
}

.feature-card h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.feature-card p {
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-muted);
}

.features .cta-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 40px;
}

.features .cta-text p {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-weight: 300;
    color: var(--text-muted);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.features .cta-text a {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
    background: transparent;
    border: 1px solid var(--border-color);
    background-color: rgba(0, 0, 0, 0.25);
    ;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none !important;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.stat-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: var(--text-highlight-blue);
    padding: 20px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    gap: 20px;
    height: 250px;
}

.stat-card i {
    font-size: clamp(2rem, 4vw, 3rem);
    color: var(--text-light);
}

.stat-card h3 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    font-weight: 600;
    color: var(--text-light);
    display: flex;
    gap: 5px;
}

.stat-card h3 i {
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    font-weight: 600;
    color: var(--text-dark);
}

#about {
    width: 100%;
    background: transparent;
    color: var(--text-light);
    position: relative;
    overflow: hidden;
}

#about::before {
    content: "";
    position: absolute;
    top: -200px;
    left: -200px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: var(--text-highlight-blue);
    opacity: 0.8;
    filter: blur(100px) saturate(200%);
    z-index: -1;
}

#about::after {
    content: "";
    position: absolute;
    bottom: 200px;
    right: -200px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: var(--text-highlight-blue);
    opacity: 0.8;
    filter: blur(100px) saturate(200%);
    z-index: -1;
}

#about .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#about .about-intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 60px 0;
}

.about-intro .about-welcome-text {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    justify-content: center;
}

.about-welcome-text div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-welcome-text div h2 {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    font-weight: 600;
    text-transform: uppercase;
}

.about-welcome-text p {
    font-size: clamp(1rem, 1.5vw, 1.1rem);
    font-weight: 300;
    color: var(--text-muted);
}

.about-intro .about-welcome-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    justify-content: center;
}

.about-welcome-images .img-wrapper {
    width: 100%;
    height: 250px;
}

.about-welcome-images .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-welcome-images .stat-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

#about .about-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    grid-gap: 40px;
}

.about-content .overlap-image {
    background-image: url("./resources/images/about-overlap1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
    margin-bottom: 45%;
    isolation: isolate;
}

.overlap-image img {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 45%;
    left: 0;
    object-fit: cover;
    object-position: center;
    padding: 20px 20px 0 0;
    background: var(--bg-very-dark)
}

.about-content .main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--bg-light);
    color: var(--text-gray) !;
    height: max-content;
    padding: 60px;
    margin-block: 40px;
    margin-left: -80px;
    z-index: 1;
}

.main-content b {
    font-weight: 600;
    color: var(--text-highlight-blue);
    font-size: clamp(0.9rem, 2.5vw, 1rem);
}

.main-content h2 {
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: 600;
    color: var(--text-dark);
    line-height: 1.2;
    text-transform: uppercase;
}

.main-content p {
    width: 100%;
    font-size: clamp(0.9rem, 2.5vw, 1rem);
    font-weight: 300;
    color: var(--text-gray);
}

.main-content ul {
    width: 100%;
    display: flex;
    gap: 40px;
    list-style: none;
    flex-wrap: wrap;
}

.main-content ul div {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-content ul div li {
    font-size: clamp(0.8rem, 2.5vw, 1rem);
    color: var(--text-gray);
    display: flex;
    align-items: center;
    gap: 8px;
}

.main-content ul div li i {
    color: var(--text-highlight-blue);
}

.main-content .btn:hover {
    background: var(--text-highlight-blue);
    color: var(--text-light);
}

#contact-bg {
    width: 100%;
    background: url("./resources/images/hero-bg2.jpg") no-repeat center center/cover;
    background-attachment: fixed;
    background-color: var(--bg-gray);
    background-blend-mode: overlay;
    position: relative;
    transition: all 0.35s ease-out;
    min-height: 400px;
    margin: 20px 0;
}

#contact {
    width: 100%;
    background: transparent;
    color: var(--text-light);
    position: relative;
    padding: 60px 0;
}

#contact .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

#contact .contact-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 0 10px;
}

.contact-text b {
    font-weight: 700;
    font-size: clamp(0.9rem, 2.5vw, 1.2rem);
}

.contact-text h3 {
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
}

.contact-text p {
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    font-weight: 300;
    color: var(--text-muted);
}

#contact .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: var(--bg-light-2);
    color: var(--text-dark);
    padding: 40px;
}

.contact-form h3 {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: 400;
    line-height: 1.2;
    color: var(--text-dark);
}

.contact-form #contact-us-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact-us-form button[type="submit"] {
    border-radius: 0;
    color: var(--text-dark);
    padding: 10px 16px;
    font-size: clamp(0.7rem, 2.5vw, 0.9rem);
    font-weight: 400;
    margin-block: 10px;
}

#contact-us-form button[type="submit"]:hover {
    border-color: var(--text-highlight-blue);
    color: var(--text-highlight-blue);
}

.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-field label {
    font-size: clamp(0.6rem, 2.5vw, 0.8rem);
    font-weight: 400;
    color: var(--text-dark);
}

.form-field input {
    width: 100%;
    padding: 8px 10px;
    font-size: clamp(0.7rem, 2.5vw, 0.9rem);
    color: var(--text-dark);
    border-radius: 0;
}

.form-group {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.form-group .form-field {
    flex: 1;
    min-width: 150px;
}


#location {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    overflow: hidden;
}

#location .location-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.location-text h2 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: 600;
}

.location-text p {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-weight: 300;
    color: var(--text-muted);
}

#location .location-map {
    width: 100%;
    height: 400px;
    background: var(--bg-very-dark);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.location-map .tooltip {
    position: absolute;
    top: 2px;
    right: 4px;
    width: max-content;
    background: var(--bg-gray);
    padding: 4px 8px;
    border-radius: 4px;
    color: var(--text-light);
    font-size: clamp(0.8rem, 1.5vw, 1rem);
}

.location-map .tooltip:hover {
    display: none;
}

.location-map iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
}

footer {
    width: 100%;
    background: transparent;
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    position: relative;
}

footer .footer-subscribe {
    width: 100%;
    padding-block: 60px;
    background: var(--bg-dark);
}

.footer-subscribe .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-subscribe .subscribe-text {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.subscribe-text p {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-weight: 300;
    color: var(--text-highlight-blue);
}

.subscribe-text h2 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: 600;
}

.footer-subscribe .subscribe-form-wrapper {
    flex: 1;
}

.subscribe-form-wrapper #subscribe-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#subscribe-form input {
    flex: 1;
    padding: 16px 20px;
    color: var(--text-light);
    background: var(--bg-dark);

}

#subscribe-form button {
    width: max-content;
    padding: 14px 20px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
    background: transparent;
    border: 1px solid var(--border-color);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

#subscribe-form button::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
    transition: width 0.2s, height 0.2s;
    border-radius: 50%;
}

#subscribe-form button:hover::before {
    width: 200%;
    height: 200%;
}

#subscribe-form button:hover {
    border-color: var(--text-highlight-blue);
}

footer .footer-main {
    width: 100%;
    padding: 60px 0;
    background: transparent;
}


.footer-main .footer-main-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.footer-main-body .footer-links-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-shrink: 0;
}

.footer-links h3 {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-weight: 600;
}

.footer-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-links ul li a {
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    font-weight: 300;
    color: var(--text-muted);
    text-decoration: none;
}

.footer-main-body .footer-contacts {
    flex-basis: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.footer-contacts .contacts-primary {
    flex: 1;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-contacts .contacts-primary h3 {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-weight: 600;
}

.footer-contacts .contacts-primary ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-contacts .contacts-primary ul li a {
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    font-weight: 300;
    color: var(--text-muted);
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.footer-contacts .contacts-secondary {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-contacts .contacts-secondary h3 {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-weight: 600;
}

.footer-contacts .contacts-secondary p {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-weight: 300;
    color: var(--text-muted);
}

.footer-contacts .contacts-secondary a {
    width: max-content;
    padding: 10px 20px;
    font-size: 1rem;
}

.footer-main .footer-credits {
    padding: 20px 0;
    background: inherit;
    text-align: center;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-credits .logo {
    display: flex;
    align-items: center;
    gap: 14px;
    flex-wrap: wrap;
}

.footer-credits .logo h2 {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: 700;
}

.footer-credits .logo small {
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    font-weight: 300;
    text-align: left;
}

.footer-credits small {
    font-size: clamp(0.7rem, 1.5vw, 1rem);
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    #hero-bg::before {
        clip-path: ellipse(50% 40% at 50% -0%);
    }

    #header-wrapper nav {
        flex-basis: auto;
    }

    #header-wrapper nav .navigation {
        display: none;
    }

    #header-wrapper nav .menu-toggle {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #header-wrapper nav .menu-toggle.active+.menu {
        display: block;
    }

    .about-intro .about-welcome-images {
        grid-template-columns: minmax(250px, 1fr);
        grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    }

    .about-content .overlap-image {
        height: 400px;
        margin-bottom: 20%;
    }

    .about-content .main-content {
        margin: 0;
    }

    .subscribe-form-wrapper #subscribe-form {
        flex-wrap: wrap;
    }

}


@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }

    #hero-bg::before {
        clip-path: ellipse(50% 30% at 50% -0%);
    }

    #header-wrapper .logo {
        font-size: clamp(1rem, 2.5vw, 1.5rem);
    }

    #header-wrapper nav .menu-toggle {
        font-size: 1.2rem;
    }

    #header-wrapper nav .menu {
        width: 100%;
    }

    .about-welcome-images .stat-cards {
        gap: 16px;
    }

    .about-content .main-content {
        padding: 40px;
    }

    .main-content ul {
        gap: 8px;
        justify-content: space-between;
    }

    .footer-main-body .footer-links-wrapper {
        justify-content: center;
    }

    .footer-contacts .contacts-primary {
        justify-content: center;
    }

    .footer-contacts .contacts-secondary {
        justify-content: center;
    }
}
